


.content-wrapper {
	width: 90%;
	margin: 0 auto;
	padding: 10px;

	@include breakpoint(tablet) {
		width: 70%;
		padding: 40px;
	}

	@include breakpoint(laptop) {
		width: 60%;
	}
}

/*********************************
	Utility classes
*********************************/

h1, h3 {
	text-align: center;
}

.word-selected {
	color: #088163;
}

.name-match {
	font-weight: bold;
	font-size: 60px;
}